// px
$header: 70px;
$footer: 60px;
// color
$primary-color: #bb2133;
$btn_hover: #e05162;
$btn_active: #990e1f;

$header_bg: #403434;
$sider_bg: #f4f4f4;
$sider_active: #f3f3f3;
$sider_font: #303133;
$sider_font_hover: #333;
$sider_submenu_active: #bbb;
$sider_submenu_bg: #efefef;
$sider_item_active: #e0e0e0;
$context_bg: #f6f6f6;
// shadow
